
.view__{
    display: flex;
    width:100%;
    margin-bottom: 50px;
    box-shadow: 5px 1px 6px 2px  #dddddd;
}
.view{
    margin-top: 50px;
    margin-left: 100px;
    width: 85%;
    /* border: 1px solid black; */
    
   
    
    
}
.view__items{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    
    
}
.view__items.details{
    text-align: left;
    margin-left: 50px;
    /* margin-top: 20px; */
}
.view__items img{
    margin-left: 50px;
    border: 1px solid gainsboro;
    margin-bottom: 100px;
}