@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');



.button {
  margin: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;

  border: 2px solid;
  border-radius: 3em;
  padding: 0.5em 2em;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

.button:active {
  transform: scale(0.95);
}

.login__form input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.anchor {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}
